### Opdracht

Bepaal maandelijks de X beste Y maand returns en rebalance de portefeuille naar deze X.<br>
Gewichten initieel gelijk (kan later nog naar market cap<br>
Initieel geen transactiekosten.<br> 
<br>
Dus eerste Y maanden geen actie (immers: nog geen Y maand returns)<br>
<br>
Bepaal geoptimaliseerde X en Y rekening houdend met kosten factor A.<br>
Dus: welke stocks hebben de afgelopen periode het best gepresteerd? Deze kopen. Na X periode herzien.<br>
<br>
#### alles naar numpy! (sneller)

In [1]:
# Libraries
import pandas as pd
import numpy as np
from xlrd import open_workbook

In [2]:
# Variables
nr_of_stocks = 5 # Number of best performing stocks
nr_of_cumulative_periods = 6 # Number of periods to calculate cumulative returns
rebalance_frequency = 3
transaction_costs = 0.01 # 1%

In [23]:
# open file, sheet marketcaps
file = 'stock_momentum.xlsx'
sheet = 'marketcaps'
df = pd.read_excel(file, sheet)

# replace market values with monthly returns
for x in df.columns.tolist()[1:]:
    df[x] = df[x].pct_change(periods=nr_of_cumulative_periods).fillna(0)
df.head(10)

,date,Stock 1,Stock 2,Stock 3,Stock 4,Stock 5,Stock 6,Stock 7,Stock 8,Stock 9,Stock 10,Index
0,2000-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2000-02-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2000-03-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2000-04-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2000-05-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,2000-06-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,2000-07-01,-0.479417,-0.047565,0.024947,0.114179,0.100268,-0.144573,0.186559,0.269582,-0.225274,-0.209266,-0.015590
7,2000-08-01,-0.536770,-0.073077,0.278429,0.469247,0.151443,-0.188218,-0.026126,0.315749,-0.018080,-0.459327,-0.021343
8,2000-09-01,-0.553513,0.025068,0.106539,0.339607,0.132252,-0.042951,0.040274,0.587480,-0.083541,-0.537970,-0.010661
9,2000-10-01,-0.471838,0.358215,0.035477,0.096042,0.059539,-0.064702,0.188885,0.529753,-0.105894,-0.630376,-0.036969

In [5]:
# calculate rolling cumulative returns.
df_cumulative_returns = pd.DataFrame(index=ind, columns=cols)
cum_result = 0
# blank record for first period
# for period in range(0, nr_of_cumulative_periods):
#     for stock in range(1, stocks):
#         df_cumulative_returns.iloc[period,stock-1] = 0

for period in range(nr_of_cumulative_periods, periods):
    for stock in range(1, stocks):
        for period2 in range(nr_of_cumulative_periods):
            cum_result = (1 + cum_result) * (1 + df_dayreturns.iloc[period-period2,stock-1]) - 1
            df_cumulative_returns.iloc[period,stock-1] = cum_result
        cum_result = 0

df_cumulative_returns.head(20)

,Stock 1,Stock 2,Stock 3,Stock 4,Stock 5,Stock 6,Stock 7,Stock 8,Stock 9,Stock 10,Index
date,,,,,,,,,,,
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-07-01,-0.479417,-0.0475651,0.0249474,0.114179,0.100268,-0.144573,0.186559,0.269582,-0.225274,-0.209266,-0.0155904
2000-08-01,-0.53677,-0.0730768,0.278429,0.469247,0.151443,-0.188218,-0.0261262,0.315749,-0.0180799,-0.459327,-0.0213433
2000-09-01,-0.553513,0.025068,0.106539,0.339607,0.132252,-0.0429513,0.0402743,0.58748,-0.0835412,-0.53797,-0.010661
2000-10-01,-0.471838,0.358215,0.0354772,0.0960425,0.0595387,-0.0647024,0.188885,0.529753,-0.105894,-0.630376,-0.0369692
2000-11-01,-0.363935,0.358215,0.0671755,0.486586,-0.040076,-0.304734,-0.00133666,0.593493,-0.0139764,-0.573173,-0.013995
2000-12-01,-0.185526,0.0457055,0.406161,0.315563,-0.191643,-0.209926,-0.0104154,0.513818,0.240481,-0.508652,0.0466715
2001-01-01,-0.175944,-0.156406,0.351017,0.315563,-0.219201,-0.255073,-0.0355743,0.636147,0.132613,-0.308473,0.078719
2001-02-01,-0.223033,-0.195103,0.048203,-0.0352537,-0.019663,-0.0548234,-0.0688304,0.262991,0.132613,-0.0664391,0.0372308
2001-03-01,0.146027,-0.195103,-0.114625,0.00624075,-0.219054,-0.0379452,0.0203241,0.137829,-0.140427,-0.0465761,-0.0346422
2001-04-01,-0.00756457,-0.316597,-0.184066,0.24103,-0.22671,0.0403615,-0.143657,-0.0983238,0.160423,0.259882,-0.0325773
2001-05-01,-0.0961749,-0.257809,-0.192144,0.251547,-0.314252,0.151829,0.0398456,-0.179475,0.00307752,0.350801,-0.0368702
2001-06-01,-0.251116,-0.0786597,-0.13444,0.32664,-0.0485249,0.0136094,-0.236811,-0.157882,-0.288415,0.159779,-0.0891538
2001-07-01,-0.224992,-0.0498678,-0.125608,0.207123,0.152964,-0.037583,-0.429267,-0.157882,-0.161346,-0.00299736,-0.104307
2001-08-01,-0.138881,-0.269129,-0.222763,0.138537,0.142761,-0.110988,-0.44965,-0.0143391,-0.0997938,0.0893177,-0.0726703

In [ ]:
# open file, sheet marketcaps
file = 'stock_momentum.xlsx'
sheet = 'marketcaps'
df = pd.read_excel(file, sheet)
periods, stocks = df.shape

cols = df.columns.tolist()
cols = cols[1:]
ind = df.iloc[:,0] # first column

df_dayreturns = pd.DataFrame(index=ind, columns=cols)

for period in range(1, periods):
    for stock in range(1, stocks):
        if df.iloc[period,stock] != df.iloc[period-1,stock]:
            df_dayreturns.iloc[period,stock-1] = (df.iloc[period,stock]/df.iloc[period-1,stock]-1)

df_dayreturns.head()

In [ ]:
# even bot alle na's op nul zetten...
for x in df_dayreturns.columns.tolist():
        df_dayreturns[x]=df_dayreturns[x].fillna(0)
        
df_dayreturns.head()

In [6]:
def total_result(nr_of_stocks=4, rebalancing_frequency=3, nr_of_periods=6):
    return(1)

def main():
    total_result() 

if __name__ == '__main__':
    main()
    
print(total_result(1,2,3))

1

In [33]:
# # herkennen beeindigde series. zodra > 1 nulwaarde in kolom
# df_dayreturns = df_dayreturns[df_dayreturns['Stock 7'] != 0]

# print(df_dayreturns)

In [34]:
# null values handling
# for period in range(3, periods):
#     for stock in range(1, stocks):
#         if df_price.iloc[period,stock] == df_price.iloc[period  -1,stock] and df_price.iloc[period,stock] == df_price.iloc[period -2,stock] :
#             df_price.iloc[period,stock] = 0

# df_price.head(10)

In [35]:
# import separate sheets
# wb = open_workbook('stock_momentum.xlsx')

# for sheet in wb.sheets():
#     if sheet.name = 'returns':
        
#     number_of_rows = sheet.nrows
#     number_of_columns = sheet.ncols
#     print(number_of_rows, number_of_columns)

In [ ]:
# df['performance'] = df.groupby('tic').mktvalue.pct_change().fillna(0)